:root {
    --headerPrimary: #00bdd6;
    --headerSecondary: #0066ff;
    --justWhite: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--headerSecondary) 20.69%, var(--headerPrimary) 100%);
}

header .header--container-title {
    color: var(--justWhite);
}

header img {
    position: absolute;
    top: 240px;
    left: calc(50% - 90px);
    width: 190px;
    height: 190px;
    border-radius: 50%;
}